body {
    font-family: Arial;
    background-color: #faead5;
    text-align: center;
}

h1 {
    color: #2c3e50;
}

img {
    margin: 15px;
}

p {
    font-size: 16px;
    color: #333;
}

button {
    padding: 10px 15px;
    background: #3a5890;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

button:disabled {
    background: gray;
}
button, a {
    transition: all 0.3s ease;
}

button:hover, a:hover {
    transform: scale(1.05);
}
table {
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    border-radius: 10px;
    overflow: hidden;
}
nav {
    position: sticky;
    top: 0;
    background: #faead5;
    padding: 10px;
    z-index: 1000;
}
html {
    scroll-behavior: smooth;
}
button {
    background: #3a5890;
    color: white;
    border-radius: 8px;
    padding: 8px 15px;
    border: none;
}

button:hover {
    background: #2c3e50;
}
tr:nth-child(even) {
    background-color: #f2dcc2;
}

tr:hover {
    background-color: #ffe9c7;
}
input {
    transition: 0.3s;
}

input:focus {
    outline: none;
    border: 2px solid #3a5890;
    box-shadow: 0 0 8px rgba(58,88,144,0.5);
}

.description-class{
    width: 80%;
    text-align: start;
    padding: 10px;
    border: 1px dashed;
    margin-bottom: 10px;
}